<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.njl.dao.UserAttentionMapper">
  <resultMap id="BaseResultMap" type="com.njl.bean.UserAttention">
    <id column="attentionid" jdbcType="INTEGER" property="attentionid" />
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="friendid" jdbcType="INTEGER" property="friendid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    attentionid, userid, friendid
  </sql>
  <select id="selectByExample" parameterType="com.njl.bean.UserAttentionExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_user_attention
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_user_attention
    where attentionid = #{attentionid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_user_attention
    where attentionid = #{attentionid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.njl.bean.UserAttentionExample">
    delete from t_user_attention
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.njl.bean.UserAttention">
    insert into t_user_attention (attentionid, userid, friendid
      )
    values (#{attentionid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{friendid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.njl.bean.UserAttention">
    insert into t_user_attention
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="attentionid != null">
        attentionid,
      </if>
      <if test="userid != null">
        userid,
      </if>
      <if test="friendid != null">
        friendid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="attentionid != null">
        #{attentionid,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="friendid != null">
        #{friendid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.njl.bean.UserAttentionExample" resultType="java.lang.Long">
    select count(*) from t_user_attention
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_user_attention
    <set>
      <if test="record.attentionid != null">
        attentionid = #{record.attentionid,jdbcType=INTEGER},
      </if>
      <if test="record.userid != null">
        userid = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.friendid != null">
        friendid = #{record.friendid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_user_attention
    set attentionid = #{record.attentionid,jdbcType=INTEGER},
      userid = #{record.userid,jdbcType=INTEGER},
      friendid = #{record.friendid,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.njl.bean.UserAttention">
    update t_user_attention
    <set>
      <if test="userid != null">
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="friendid != null">
        friendid = #{friendid,jdbcType=INTEGER},
      </if>
    </set>
    where attentionid = #{attentionid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.njl.bean.UserAttention">
    update t_user_attention
    set userid = #{userid,jdbcType=INTEGER},
      friendid = #{friendid,jdbcType=INTEGER}
    where attentionid = #{attentionid,jdbcType=INTEGER}
  </update>
</mapper>